header h1{
   text-align: left;
   padding: 0px 20px;
   margin:0;
   }
header nav ul{
    text-align: right;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    padding: 20px;
    margin: 30px;
}
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    border: solid black;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.2);
    color: wheat;
    margin: 10px;
    
}
header li a{
    margin-right: 10px;
    color: wheat;
    text-decoration: none;
    
    
}
img{
    display: flex;
    height: 150px;
    width: 150px;
    margin: 0;
    padding: 0;
    margin-right: 200px;
}
body{
    background-image: url(img/hd1.jpg);
    background-size: cover;
    height: 1000px;
    border: solid;
    border-radius: 5px;
}
.Titulo{
    color: rgb(192, 221, 86);
    padding: 150px 200px 0px 200px;
    text-align: center;
    font-size: 25px;
    text-shadow: 3px 5px 5px black;
}
P{
    font-size: 18px;
    color: #fff3db;
    padding: 1;
}

.boton nav{
    display: flex;
    justify-content: center;
    padding: 150px;
}
.boton button {
   background-color: rgb(21, 180, 127);
    border: solid; 
    border-radius: 10px;
    font-size: 20px;
    text-decoration: none;
}
.boton nav a{
    color: black;
    text-decoration: none;
}
.boton a:link{
    color: blue;
}
.boton a:visited{
    color: greenyellow;
}
.boton a:hover{
    color: aquamarine;
}
.boton a:active{
    color: rebeccapurple;
}
