
header nav ul{
    text-align: right;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    padding: 20px;
    margin: 55px;
}
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    border: solid black;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.2);
    color: wheat;
    margin: 10px;
    
}
header li a{
    margin-right: 10px;
    color: wheat;
    text-decoration: none;
    
    
}
img{
    display: flex;
    height: 150px;
    width: 150px;
    margin: 0;
    padding: 0;
    margin-right: 200px;
}
body{
    background-image: url(img/pexels-ameruverse-digital-marketing-media-1643409.jpg);
    background-size: cover;
    height: 1300px;
    border: solid;
    border-radius: 5px;

}
.Titulo{
    color: rgb(192, 221, 86);
    padding: 150px 200px 0px 200px;
    text-align: center;
    font-size: 25px;
    text-shadow: 3px 5px 5px black;
}
P{
    font-size: 18px;
    color: #fff3db;
    padding: 1;
}

.boton nav{
    display: flex;
    justify-content: center;
    padding: 150px;
}
.boton button {
   background-color: rgb(0,0, 0);
    border: solid; 
    border-radius: 10px;
    font-size: 20px;
    text-decoration: none;
}
.boton nav a{
    color: black;
    text-decoration: none;
}
.boton a:link{
    color:white;
}
.boton a:visited{
    color: greenyellow;
}
.boton a:hover{
    color: aquamarine;
}
.boton a:active{
    color: rebeccapurple;
}
#unico h2{
   font-size: 40px;
    /* width: 200px; */
    height: 150px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    
}
.facil{
    border: solid;
    border-radius: 5px;
    width: 500px;
    margin: 0 auto;
    text-align: center;
    padding: 50px;
    background-color: rgba(0,0,0,0.6);
}
section{
    padding: 100px;
}
section .facil:hover{
     box-shadow: 0 0.1rem 0.6rem rgba(255, 255, 255, 0.5);
}
.facil p {
    text-align: center;
    color: wheat;
}
.Logo img{
    float: left;
    width: 250px;
    height: 250px;
    position: absolute;
    top: -25px;
    left: 50px;
}
nav a:link{
    color: wheat;
}
nav a:visited{
    color: wheat;
}
nav a:hover{
    color: white;
}
nav a:active{
    color: black;
}
footer{
    padding: 20px 20px;
    position: absolute;
    bottom: -700px;
}
.Testimonios{
    border: solid;
    border-radius: 5px;
    width: 500px;
    margin: 0;
    text-align: center;
    padding: 10px;
    background-color:rgba(6, 246, 42, 0.3);
    position: absolute;
    left: 20px;

}
section{
    padding: 100px;
}
section .Testimonios:hover{
     box-shadow: 0 0.1rem 0.6rem rgba(255, 255, 255, 0.5);
}
.imgTestimonios{
    position: absolute;
    right: 50px;
    bottom: 85px;
}
.imgTestimonios img{
    width: 250px;
    height: 180px;
    display: inline;
    margin: 30px;
    border: solid;
    border-radius: 10px;
    color: black;
}
.imagen3{
    display: inline;
    position: absolute;
    right: 50px;
    bottom: -40px;
}
 .imagen3 img{
     width: 250px;
     height: 200px;
     border: solid;
     border-radius: 10px;
     color: black;
}
.imagen2{
     display: inline;
    position: absolute;
    right: 250px;
    bottom: 100px;

}

.imagen2 img{
    width: 250px;
    height: 200px;
    border: solid;
    border-radius: 10px;
    color: black;
}
.imgTestimonios img:hover{
    box-shadow: 0 0.1rem 0.6rem rgba(255, 255, 255, 0.9);
}
.imagen3 img:hover{
    box-shadow: 0 0.1rem 0.6rem rgba(255, 255, 255, 0.9);
}
.imagen2 img:hover{
    box-shadow: 0 0.1rem 0.6rem rgba(255, 255, 255, 0.9);
}
.Testimonio2{
    border: solid;
    border-radius: 5px;
    width: 500px;
    margin: 0;
    text-align: center;
    padding: 10px;
    background-color: rgba(6, 246, 42, 0.3);
    position: absolute;
    right: 20px;
    bottom: -600px;
}
section .Testimonio2:hover{
    box-shadow: 0 0.1rem 0.6rem rgba(255, 255, 255, 0.5);
}
.Testimonio2img1{
    position: absolute;
    left: 20px;
    bottom: -600px;
}
.Testimonio2img1 img{
    width: 250px;
    height: 180px;
    display: inline;
    margin: 30px;
    border: solid;
    border-radius: 10px;
    color: black;
}
.Testimonio2img1 img:hover{
    box-shadow: 0 0.1rem 0.6rem rgba(255, 255, 255, 0.9);
}
.Testimonio2img2{
    position: absolute;
    left: 400px;
    bottom: -600px;
}
.Testimonio2img2 img{
    width: 250px;
    height: 180px;
    display: inline;
    margin: 30px;
    border: solid;
    border-radius: 10px;
    color: black;
}
.Testimonio2img2 img:hover{
    box-shadow: 0 0.1rem 0.6rem rgba(255, 255, 255, 0.9);
}

.Testimonio2img3{
    position: absolute;
    left: 235px;
    bottom: -500px;
}
.Testimonio2img3 img{
    width: 200px;
    height: 250px;
    display: inline;
    margin: 30px;
    border: solid;
    border-radius: 10px;
    color: black;
}
.Testimonio2img3 img:hover{
    box-shadow: 0 0.1rem 0.6rem rgba(255, 255, 255, 0.9);
}
.Contactanos{
    text-align: center; 
    color: wheat;
    padding: 100px 0 0 0;
}
.formulario{
    text-align: center;
    color: wheat;
    display: flex;
    position: absolute;
    left: 280px;
    border: solid;
    border-radius: 25px;
}
.formulario div input{
    border:solid;
    border-radius: 25px;
}
.formulario div label{
    cursor: pointer;
}

.formulario button{
    border: solid;
    border-radius: 50px;
    padding: 5px 150px 5px 150px;
    margin: 20px;
    background-color:  rgba(6, 246, 42, 0.3);
    color: wheat;
}
.formulario button:hover{
    color: gold;
    cursor: pointer;
}
.adicional div img{
    height: 50px;
    width: 50px;

}
.adicional{
    display: flex;
    position: absolute;
    bottom: -500px;
    left: 280px;
    background-color: rgba(6, 246, 42, 0.3) ;
    height: 100px;
    width: 550px;
}
.redes{
    display:flex;
    position: absolute;
    bottom: -420px;
    left: 330px;
}
.redes2{
    left: 310px;
    bottom: -480px;
}
.redes p{
    color: gold;
}
.redes2 li:hover{
    color: wheat;
}
.redes2 a{
    color: wheat;
}
.telefono{
    display: flex;
    position: absolute;
    bottom: -420px;
    left: 600px;
}
.telefono2{
    left: 520px;
    bottom: -480px;
}
.telefono p{
    color: gold;
}
.telefono2{
    color: wheat;
}
.telefono2 li:hover{
    color: white;
    cursor: pointer;
}




